:root {
  --hr-color: #51005145;
  --text-color: #000000;
  --bc-color: #5100512b;
  --heading-color: #500050;
  --subheading-color: #760076;
  --bc-section-color: #70007025;
  --link-color: #960096;
  --clicked-link-color: #770077;
  --photo-border-color: #560056;
  --work-heading-color: #630063;
  --border-line-color: #fff;
  --header-line-color: #510051;
  --header-text-color: #fff;
  --bc-even-table-line-color: #51005145;
  --list-bullet-color: #510051;
}

hr {
  border: 1.5px, solid, var(--hr-color);
}

body {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--text-color);
  background-color: var(--bc-color);
  line-height: 1.5;
  margin: 20px auto;
}

.heading {
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  color: var(--heading-color);
  margin: 10px auto;
}

.subheading {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: var(--subheading-color);
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.personal-data,
.work-experience,
.education,
.skills,
.languages,
.interests-and-hobbies {
  background-color: var(--bc-section-color);
  margin: 20px auto;
  padding: 20px;
}

.profile {
  list-style-type: none;
  padding: 0;
}

.profile a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--link-color);
}

.profile a:hover {
  text-decoration: none;
  color: var(--clicked-link-color);
}

.profile-photo {
  max-width: 120px;
  border: 3px, solid, var(--photo-border-color);
  float: left;
  border-radius: 20%;
  margin: 0 10px;
}

.work-heading {
  text-transform: uppercase;
  font-size: 20px;
  color: var(--work-heading-color);
  margin: 0 auto;
}

.work b {
  color: var(--work-name-color);
  font-size: 17px;
  text-transform: capitalize;
}

.work-description {
  list-style-type: none;
  line-height: 2;
  padding: 0;
}

.skills-table tr,
.skills-table th,
.skills-table td,
.languages-table tr,
.languages-table th,
.languages-table td {
  border: 1px, solid, var(--border-line-color);
  padding: 10px 15px 10px 15px;
}

.skills-table,
.languages-table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.skills-table thead,
.languages-table thead {
  background-color: var(--header-line-color);
  color: var(--header-text-color);
}

.skills-table tbody tr:nth-child(even),
.languages-table tbody tr:nth-child(even) {
  background-color: var(--bc-even-table-line-color);
}

.list {
  list-style-type: square;
  line-height: 2.5;
  padding-left: 20px;
}

.list li::marker {
  color: var(--list-bullet-color);
}
